table {
   width: 100%;
}
th, td {
   width: 140px;
   min-width: 132px;
   height: auto;
   text-align: left;
   vertical-align: top;
   border-spacing: 0;
   
}

td{
   border: 1px solid;
   min-height: 25px;
   max-height: auto;
   height: auto;
}